html {
    background-color: lightpink;
    min-width:100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

body {
font-weight: 400;
margin: auto;
width: 60%;
padding-left: 2vw;
border: 1px solid #CCC;
border-radius: 1em;
background-color: white;
padding-bottom: 30px;
}

@media (min-width: 576px) {
    body {
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    body {
      max-width: 100%;
    }
  }

em {
    color: red;
}
label {
    align-items: center;
}

#title {
    padding-top: 10px;
    font-size: 1.8em;
    text-align: center;
    text-transform: capitalize;
    color: black;
}


.rightTab {
    width: 80%;
}

 .feildset {
    width: 50vw;
    height: 5vh;

} 

label {
    display: flex;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

textarea {
    width: 50vw;
    height: 10vh;
}

button {
    align-content: center;
    background-color: lightgrey;
    width: 50vw;
    height: 5.5vh;
   }